services:
  - type: web
    name: st-valentin-escape-room
    runtime: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars: []
    headers:
      - path: /*
        name: Cache-Control
        value: public, max-age=31536000, immutable
      - path: /index.html
        name: Cache-Control
        value: no-cache
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
